.container-fluid.mt-4
  .row.mb-4
    .col-md-8
      %h1 Edit Task

  .breadcrumb.mb-4
    %span.breadcrumb-item
      = link_to "Home", admin_root_path
    %span.breadcrumb-item
      = link_to @list.board.name, admin_board_path(@list.board)
    %span.breadcrumb-item
      = link_to @list.name, admin_list_path(@list)
    %span.breadcrumb-item
      = link_to "Tasks", admin_list_tasks_path(@list)
    %span.breadcrumb-item
      = link_to @task.title, admin_list_task_path(@list, @task)
    %span.breadcrumb-item.active Edit

  .card
    .card-body
      = render "form", task: @task
