<div class="container-fluid mt-4">
  <div class="row mb-4">
    <div class="col-md-8">
      <h1>Edit Task</h1>
    </div>
  </div>

  <nav aria-label="breadcrumb" class="mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", admin_root_path %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @list.board.name, admin_board_path(@list.board) %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @list.name, admin_list_path(@list) %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Tasks", admin_list_tasks_path(@list) %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @task.title, admin_list_task_path(@list, @task) %>
      </li>
      <li class="breadcrumb-item active">Edit</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <%= render "form", task: @task %>
    </div>
  </div>
</div>
