.container-fluid.mt-4
  .row.mb-4
    .col-md-8
      %h1.mb-0 Tasks
    .col-md-4.text-end
      = link_to "New Task", new_admin_list_task_path(@list), class: "btn btn-primary" if @list

  - if @list
    .breadcrumb.mb-4
      %span.breadcrumb-item
        = link_to "Home", admin_root_path
      %span.breadcrumb-item
        = link_to @list.board.name, admin_board_path(@list.board)
      %span.breadcrumb-item
        = link_to @list.name, admin_list_path(@list)
      %span.breadcrumb-item.active Tasks

  .card
    .card-header.bg-light
      .row
        .col-md-3
          = form_with url: list_specific? ? admin_list_tasks_path(@list) : admin_tasks_path, method: :get, local: true, class: "d-inline-block me-2" do |f|
            = f.text_field :search, placeholder: "Search by title...", value: params[:search], class: "form-control form-control-sm"
        .col-md-2
          = form_with url: list_specific? ? admin_list_tasks_path(@list) : admin_tasks_path, method: :get, local: true, class: "d-inline-block" do |f|
            = f.select :status, options_for_select(Task.statuses.keys, params[:status]), { include_blank: "All Statuses" }, class: "form-select form-select-sm"
        .col-md-2
          = form_with url: list_specific? ? admin_list_tasks_path(@list) : admin_tasks_path, method: :get, local: true, class: "d-inline-block" do |f|
            = f.select :priority, options_for_select(Task.priorities.keys, params[:priority]), { include_blank: "All Priorities" }, class: "form-select form-select-sm"
        .col-md-2
          = form_with url: list_specific? ? admin_list_tasks_path(@list) : admin_tasks_path, method: :get, local: true, class: "d-inline-block" do |f|
            = f.select :assignee_id, options_for_select(@users.map { |name, id| [name, id] }, params[:assignee_id]), { include_blank: "All Assignees" }, class: "form-select form-select-sm"
        - unless @list
          .col-md-2
            = form_with url: admin_tasks_path, method: :get, local: true, class: "d-inline-block" do |f|
              = f.select :filter_list_id, options_for_select(@lists.map { |l| [l.name, l.id] }, params[:filter_list_id]), { include_blank: "All Lists" }, class: "form-select form-select-sm"

    .table-responsive
      %table.table.table-hover.mb-0
        %thead.table-light
          %tr
            %th Title
            %th Status
            %th Priority
            %th Assignee
            %th Deadline
            %th Comments
            %th Actions

        %tbody
          - if @tasks.any?
            - @tasks.each do |task|
              %tr
                %td= task.title
                %td
                  %span.badge{ class: status_badge_class(task.status) }
                    = Task.statuses.key(task.status).humanize
                %td
                  %span.badge.bg-secondary
                    = Task.priorities.key(task.priority).humanize
                %td= task.assignee&.name || "Unassigned"
                %td
                  - if task.deadline
                    = task.deadline.strftime("%Y-%m-%d")
                  - else
                    %span.text-muted No deadline
                %td
                  %span.badge.bg-info
                    = task.comments_count
                %td
                  .btn-group.btn-group-sm(role="group")
                    = link_to "View", admin_list_task_path(@list, task), class: "btn btn-outline-primary" if @list
                    = link_to "View", admin_task_path(task), class: "btn btn-outline-primary" unless @list
                    = link_to "Edit", edit_admin_list_task_path(@list, task), class: "btn btn-outline-secondary" if @list
                    = link_to "Edit", edit_admin_task_path(task), class: "btn btn-outline-secondary" unless @list
                    = link_to "Delete", admin_list_task_path(@list, task), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" if @list
                    = link_to "Delete", admin_task_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" unless @list
          - else
            %tr
              %td.text-center.text-muted(colspan="7") No tasks found

  .mt-4
    = paginate @tasks, theme: "bootstrap-5"
